.post {
  padding: 10px;
}

.post .item-header {
  overflow-x: scroll;
}

.post .item-header > * {
  display: inline;
}

.post .item-main {
  margin: 10px 0 10px;
}

.post .item-stats > *,
.post .item-stats > * > * {
  display: inline;
}

.post .item-stats,
.post .item-stats > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post .item-stats > *:first-of-type {
  flex: 1;
  justify-content: flex-start;
}
