@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icon.ring {
  border-radius: 50%;
  border: 2px solid black;
}

input[type="submit"] {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

center {
  text-align: center;
}

/* theme */

body.dark {
  background: black;
}

body.dark .icon.ring {
  border-color: white;
}

body.dark .list ul li {
  border-bottom: 2px solid white;
}

body.dark header nav {
  background: black;
}

body.dark * {
  color: white;
}

body.dark .menu-container:before {
  background: rgba(255, 255, 255, 0.25);
}

body.dark .menu-container li:nth-child(odd) {
  background: rgba(255, 255, 255, 0.025);
}

body.dark input[type="submit"] {
  background: rgba(255, 255, 255, 0.1);
}

body.dark input[type="checkbox"].ios8-switch + label:hover:after {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

body.dark .list select {
  background: rgba(255, 255, 255, 0.1);
}

body.dark .list select option {
  background: black;
}

body.dark .btn-container {
  background: rgba(255, 255, 255, 0.1);
}

body.dark .menu-container > div {
  background: black;
}
